#profilBild
{   
    padding-top: 2cm;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10cm;
    
}
#helloWorld
{
    
    display: block;
    margin-left: auto;
    margin-right: auto;

}
body {
    
     
    /*background-image: url(images/svartbakgrund.jpg);*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  .centreradText
  {
    text-align: center;
  }
  .header
  {
    padding: 1cm;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 20px;
    
  }
 